node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.api
.env.forum
.env.test
.env.dev
.vite
.vinxi
.vscode
.idea
.turbo
**/.output/
**/.vinxi/
**/.tsc-out/
**/.turbo/
**/tsconfig.tsbuildinfo
.playwright-mcp/**/*
test-results/
playwright-report/
.vite-hooks/**/*
