@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Outfit", sans-serif;
}

body {
  @apply m-0 bg-slate-50 text-slate-900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  @apply transition-all duration-200 transform active:scale-95;
}

.card {
  @apply transition-all duration-300;
}
